@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: ghostwhite;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat Alternates", sans-serif;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

/* NAVBAR */
.navbar {
  width: 100vw;
  height: 10vh;
  padding: 0 10%;
  display: flex;
  background-color: ghostwhite;
  position: fixed;
  top: 0;
  left: 0;
}

.brand,
.menu,
.login,
.left_menu {
  display: flex;
  align-items: center;
  /* border: 0.5px solid blue; */
}

.brand {
  flex: 1;
  gap: 10px;
}

.menu {
  flex: 2;
  justify-content: space-evenly;
}

.menu a {
  text-transform: uppercase;
}

.left_menu {
  flex: 1;
  gap: 20px;
  justify-content: center;
  cursor: pointer;
}

.login {
  gap: 10px;
  cursor: pointer;
}

.login h4 {
  cursor: pointer;
  font-weight: 200;
}

/* HERO */
.hero {
  width: 100vw;
  height: 100vh;
  padding: 0 10%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10vh;
}

.hero_banner {
  background-color: #f1ddc9;
  width: 100%;
  height: 70%;
  display: flex;
}

.hero_banner_left,
.hero_banner_right {
  display: flex;
  flex-direction: column;
}

.hero_banner_left {
  flex: 1;
  /* border: 1px solid blue; */
}

.hero_banner_right {
  flex: 2;
  padding: 40px;
  justify-content: center;
}

.hero_banner_right a {
  font-weight: bold;
}

.hero_banner_right h1 {
  font-size: 4rem;
  font-weight: 300;
}

.hero_banner_right p {
  width: 80%;
  line-height: 2;
}

.hero_banner_image {
  position: absolute;
  bottom: 50px;
}

.hero_banner_button_group {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.hero_banner_button {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button_solid {
  background-color: #d84727;
  color: white;
}

.button_solid:hover {
  background-color: #000;
}

.button_outline {
  background-color: #f1ddc9;
  border: 2px solid #d84727;
  color: #d84727;
}

.button_outline:hover {
  border-color: #000;
  color: #000;
}

.flash_image {
  position: absolute;
  top: -20px;
  right: 0;
}

/* Recent News */
.recent{
  width: 100vw;
  height: auto;
  height: 100vh;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  
}
.title{
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 10vh;
  align-items: flex-start;


}

.content{
  width: 80vw;
  height: 70vh;
  display: flex;
}
.recentl{
  display: flex;
  justify-content: center;
  width: 40%;
  align-items: flex-start;
  flex-direction: column;

}
.cont{
  display: flex;

}
.button_outline2{
  margin-top:100px;
  border: 2px solid red;
  padding:20px 40px;
}
.recentr{
  display: flex;
  width:60%;
  justify-content: flex-end;
  position: relative;
}

.imgone{
  position:absolute;
  top:-50px;
  left: 85px;
}
.imgtwo{
  position: absolute;
  top:-100px;
  left: 50px;
}

/* Footer */

.footer{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction:column;

}
.col-one{
  width: 100vw;
  height: 40vh;
  margin: 0;
  background-color: #DA5E42;
  display: flex;
  align-items: center;
  padding: 2% 20%;
  flex-direction: column;
}

.col-two{
  width: 100vw;
  height: auto;
  min-height: 60vh;
  margin: 0;
  background-color: #D84727;
  display: flex;
  justify-content: space-between; 
  color:white;
  padding: 2% 10%;
}
.getintouch{
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact{
  display:flex;
        justify-content:flex-start;
        align-items:flex-start;
        gap: 50px;
        padding-left:-200px;
        padding-top: 0;
}
.contact-col1{
  display: flex;
  flex-direction: column;

}

.contact-col2{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom:18px;
}

.sosmed{
  display: flex;
  gap: 20px;
}